[data-theme='nord-light'] {
	--crust: #d8dee9;
	--mantle: #e5e9f0;
	--base: #eceff4;
	--surface: #e5e9f0;

	--background: #eceff4;
	--foreground: #2e3440;
	--card: #e5e9f0;
	--card-foreground: #2e3440;
	--popover: #e5e9f0;
	--popover-foreground: #2e3440;
	--primary: #5e81ac;
	--primary-foreground: #eceff4;
	--secondary: #d8dee9;
	--secondary-foreground: #2e3440;
	--muted: #d8dee9;
	--muted-foreground: #4c566a;
	--accent: #d8dee9;
	--accent-foreground: #2e3440;
	--destructive: #bf616a;
	--border: #d8dee9;
	--input: #d8dee9;
	--ring: #5e81ac;
	--chart-1: #bf616a;
	--chart-2: #d08770;
	--chart-3: #ebcb8b;
	--chart-4: #a3be8c;
	--chart-5: #88c0d0;
	--sidebar: #e5e9f0;
	--sidebar-foreground: #2e3440;
	--sidebar-primary: #5e81ac;
	--sidebar-primary-foreground: #eceff4;
	--sidebar-accent: #d8dee9;
	--sidebar-accent-foreground: #2e3440;
	--sidebar-border: #d8dee9;
	--sidebar-ring: #5e81ac;
}

[data-theme='nord-dark'] {
	--crust: #1e2229;
	--mantle: #252a33;
	--base: #2e3440;
	--surface: #3b4252;

	--background: #2e3440;
	--foreground: #d8dee9;
	--card: #3b4252;
	--card-foreground: #d8dee9;
	--popover: #3b4252;
	--popover-foreground: #d8dee9;
	--primary: #88c0d0;
	--primary-foreground: #2e3440;
	--secondary: #434c5e;
	--secondary-foreground: #d8dee9;
	--muted: #434c5e;
	--muted-foreground: #4c566a;
	--accent: #434c5e;
	--accent-foreground: #d8dee9;
	--destructive: #bf616a;
	--border: #4c566a;
	--input: #3b4252;
	--ring: #88c0d0;
	--chart-1: #bf616a;
	--chart-2: #d08770;
	--chart-3: #ebcb8b;
	--chart-4: #a3be8c;
	--chart-5: #88c0d0;
	--sidebar: #2e3440;
	--sidebar-foreground: #d8dee9;
	--sidebar-primary: #88c0d0;
	--sidebar-primary-foreground: #2e3440;
	--sidebar-accent: #3b4252;
	--sidebar-accent-foreground: #d8dee9;
	--sidebar-border: #4c566a;
	--sidebar-ring: #88c0d0;
}
