<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="br.acerola.comic.module.comic.ComicActivity"
            android:exported="false"
            android:label="@string/label_chapters_activity"
            android:theme="@style/Theme.Acerola" />

        <activity
            android:name="br.acerola.comic.module.reader.ReaderActivity"
            android:exported="false"
            android:label="@string/label_reader_activity"
            android:theme="@style/Theme.Acerola" />

        <activity
            android:name="br.acerola.comic.module.main.remotelibrary.RemoteLibraryActivity"
            android:exported="false"
            android:label="@string/label_remote_library_activity"
            android:theme="@style/Theme.Acerola" />
    </application>

</manifest>
